@charset "UTF-8";

header, h1, h2, li, nav, a, footer, article, p, section, main {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body  {
    padding: 0px;
	margin: 0px;
	line-height: 100%;
	background-image: url(backgroundvolkswagen.jpg);
	background-size: cover;
	background-repeat: repeat;
}

header {
    background-color: #DD0000;
    height: 100px;
}

h1 {
    display: inline;
}

h2 {
	color: darkgrey;
}

li {
    font-size: 110%;
    margin-right: 10px;
}


nav ul {
	color: darkgreen;
}

nav ul li {
	list-style-type: none;
	width:90%;
	margin: 0 auto;
}

nav ul li a {
	display: block;
	background: darkgreen;
	color: white;
	text-decoration: none;
	padding: 5% 10%;
	margin: 2% 5%;
	transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
	background: #00AAFF;
	color: white;
	border: solid 1px darkgreen;
}

footer{
	position:fixed;
	bottom: 10px;
	margin-left: 70%;
}

.golfverplaats {
	margin-right: 60%;
}

.geschiedenis {
	color: darkgrey;
}

.contact {
	color: purple;
}

.homeclass {
	color: purple;
}

table th {
	text-align: left;
	background-color: #2299DD;
	color: white;
	padding: 4px 1px 1px;
}

table td {
	padding: 4px 8px;
}

.table-edit {
	text-align: center;
	color: white;
}

#position {
	margin-top: 1%;
	color: darkgrey;
}

.table-edit2 {
	text-align: center;
	color: white;
}

#position2 {
	margin-top: 0%;
	color: darkgrey;
}

.table-edit3 {
	text-align: center;
	color: white;
}

#position3 {
	margin-top: 0%;
	color: darkgrey;
}

label {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: red;
}


/* -----------------------------------------------------*/
/*This part is used for the tablet version*/
/* -----------------------------------------------------*/

@media screen and (min-width: 700px) {

	nav ul {
		padding: 1%;
	}

	nav ul li {
		display: inline-block;
		width: 48%;
	}

	.golfverplaats {
		margin-right: 60%;
	}

	footer {
		display: inline-block;
		margin-left: 80%;
	}

	h2 {
		margin-top: 80%;
	}

	section {
		margin-right: 92%;
	}

	main {
		margin-right: 73%;
	}

	.geschiedenis {
		margin-right: 75%;
		width: 50%;
	}

	.contact {
		margin-right: 70%;
	}

	.homeclass {
		color: purple;
	}


/* -----------------------------------------------------*/
/*This part is used for the pc version*/
/* -----------------------------------------------------*/

@media screen and (min-width: 900px) {

	nav {
		display: inline-block;
		width: 20%;
	}

	nav ul {
		padding: 1%;
	}

	nav ul li {
		display:inline-block;
		text-align: center;
		width: 80%;
	}

	nav ul li a:hover {
		box-shadow: 5px 5px 25px #888888;
	}

	.homeclass {
		margin-right: 80%;
	}

	h2 {
		margin-top: 25%;
	}
	
	.golfverplaats {
		margin-right: 90%;
	}

	footer {
		display: inline-block;
		bottom: 10px;
		margin-left: 72%;
	}

	.buttonpend {
		display: inline-block;
		bottom: 10px;
		margin-left: 93%;
	}

	.contact{
		margin-right: 30%;
	}

	.buttons {
		display: inline;
		margin-left: 100%;
	}

	.geschiedenisbuttons {
		display: inline-block;
		margin-left: 50%;
	}

	table th {
		text-align: left;
		background-color: #00FF00;
		color: black;
		padding: 4px 20px 4px;
	}

	table td {
		border: 1px solid black;
		padding: 4px 8px;
	}


	.table-edit {
		text-align: center;
		color: red;
	}

	#position {
		margin-top: 1%;
		color: darkgrey;
	}

	.table-edit2 {
		text-align: center;
		color: red;
	}

	#position2 {
		margin-top: 0%;
		color: darkgrey;
	}

	.table-edit3 {
		text-align: center;
		color: red;
	}

	#position3 {
		margin-top: 0%;
		color: darkgrey;
	}